
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Клиент</th>
		<th>Телефон</th>
		<th>Дата и время</th>
		<th>Мастер</th>
		<th>Цвет краски</th>
	</tr>
<% @results.each do |row| %>

  <tr>
  	<th><%= row['Id'] %></th>
    <td><%= row['User_name'] %></td>
    <td><%= row['Phone'] %></td>
    <td><%= row['Date_Stamp'] %></td>
    <td><%= row['Master'] %></td>
    <td style="background-color: <%= row['Color'] %> "><%= row['Color'] %></td>
  </tr>

<% end %>

</table>
